/* AuthPage.css */

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #2a0cd0, #f247ed);
  padding: 1rem;
}

.auth-card {
  background: rgba(245, 245, 247, 0.311);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgb(228, 27, 124);
}

.password-input-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

/* Forgot password */
.forgot-password {
  text-align: right;
  margin: 5px 0 15px;
  font-size: 0.9rem;
}

.forgot-password a {
  color: #ff4d6d;
  text-decoration: none;
}

.google {
  width: 100%;
  padding: 10px;
  font-size: 0.95rem;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
}

.google:hover {
  background: #f5f5f5;
}

.auth-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.auth-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #1d2ae7;
  font-size: 1rem;
}

.auth-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #e405bf;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #ee1fc5;
}

.divider {
  text-align: center;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #f6f3f3;
}

.social-login {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.social-btn {
  flex: 1;
  padding: 0.5rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: not-allowed;
}

.toggle-text {
  text-align: center;
  margin-top: 1rem;
}

.toggle-link {
  color: #f621c1;
  cursor: pointer;
}

/* ✅ Responsive */
@media (max-width: 500px) {
  .auth-card {
    padding: 1.25rem;
    border-radius: 8px;
  }

  .auth-title {
    font-size: 1.25rem;
  }

  .auth-input,
  .auth-btn {
    font-size: 0.95rem;
    padding: 0.6rem;
  }

  .social-login {
    flex-direction: column;
  }
}
