/* profilePage.css */

.profile-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #1e00b4, #e924cc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.profile-form {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.profile-page h2 {
  text-align: center;
  color: #f92b2b;
  margin-bottom: 1.5rem;
}

.profile-form label {
  color: #f5f6f9;
  display: block;
  margin-bottom: 0.3rem;
}

.profile-form input {
  background-color: rgba(232, 232, 239, 0.8);
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: none;
}

.save-btn {
  background-color: #3044f8;
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.save-btn:hover {
  background-color: #672dfb;
  color: rgb(34, 87, 247);
}

/* Responsive */
@media (max-width: 600px) {
  .profile-form {
    padding: 1rem;
  }

  .profile-page h2 {
    font-size: 1.5rem;
  }
}
